babel
colorama
docs-chat-bot
jinja2
lightgallery
markdown
markitdown
mkdocs
mkdocs-add-teaser
mkdocs-asciinema-player
mkdocs-awesome-pages-plugin
mkdocs-badges
mkdocs-content-tabs
mkdocs-drawio
mkdocs-enumerate-headings-plugin
mkdocs-exclude
mkdocs-exporter
mkdocs-git-authors-plugin
mkdocs-git-committers-plugin-2
mkdocs-github-admonitions-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-literate-nav
mkdocs-material-extensions
mkdocs-material-mark-as-read
mkdocs-macros-plugin
mkdocs-minify-plugin
mkdocs-monorepo-plugin
mkdocs-pdf-export-plugin
mkdocs-same-dir
mkdocs-section-index
mkdocs-table-reader-plugin
mkdocstrings[crystal,python]
mkdocs-with-pdf
paginate
pymdown-extensions
poetry
pydyf
pygments
qrcode
regex
requests
mkdocs-include-markdown-plugin
backrefs
