name: Build and Push Docker Image

on:
  workflow_dispatch:
  push:
    branches:
      - main  # Trigger on push to main branch

permissions:
  packages: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Checkout the code from the repository
      - name: Checkout code
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871

      - name: Create Temporary Directory
        id: create-temp-dir
        run: |
          TEMP_DIR=$(mktemp -d -p "${GITHUB_WORKSPACE}")
          echo "TEMP_DIR=$TEMP_DIR" >> $GITHUB_ENV

      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true

      - name: Free Disk Space Manual
        run: |
          sudo apt-get remove -y --allow-remove-essential aria2 shellcheck rpm xorriso \
            zsync gfortran-9 nginx shim-signed imagemagick libmagickcore-dev \
            libmagickwand-dev libmagic-dev ant ant-optional kubectl \
            mercurial apt-transport-https unixodbc-dev yarn libssl-dev snapd \
            libfreetype6 libfreetype6-dev libfontconfig1 libfontconfig1-dev \
            snmp pollinate libpq-dev ruby-full subversion microsoft-edge-stable || true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@49b3bc8e6bdd4a60e6116a5414239cba5943d3cf

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@c47758b77c9736f4b2ef4073d4d51994fabfe349

      # Log in to GitHub Container Registry
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/f5xc-mkdocs:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
